xubuntu-desktop
xfce4-goodies
software-properties-common
python
python3
python-pip
python3-pip
neovim
atom
ruby
build-essential
clang
firefox
nodejs
npm
default-jdk
default-jre
qt5-default
qtcreator
htop
screen
gparted
curl
